.idBadge {
  background-color:peru;
  color: black;
}
.profileImage {
  width: 465px;
  height: 465px;
}
.personDetails {
  margin-top: 25px;
}
.personName {
  font-weight: bold;
  font-size: 2rem;
}
