#peopleTable {
  width: 100%
}
#idCol {
  width: 60px;
  font-weight: normal;
}
#firstnameCol {
  width: auto;
  font-weight: normal;
}
#lastnameCol {
  width: auto;
  font-weight: normal;
}
#emailCol {
  width: auto;
  font-weight: normal;
}
#actionsCol {
  width: 110px;
  font-weight: normal;
}
