#peopleHeaderRow {
  padding-top: 20px;
  height: 75px;
}
.contentTitle {
  font-size: 2rem;
  color: rgb(28, 28, 51);
  display: inline-block;
}
#addBtn {
  margin-top: 7px;
  margin-right: 0px;
  float: right;
}