.headerContent {
  background-color: rgb(15, 60, 112);
  height: 84px;
}
#titleIcon {
  display: inline-block;
  margin-top: 5px;
  margin-left: 50px;
  width: 80px;
}
#title {
  position: relative;
  left: 15px;
  top: 7px;
  font-size: 2.5rem;
  color: rgb(224, 222, 222);
}
