.header-content {
  background-color: rgb(15, 60, 112);
  height: 84px;
}
.svg-container {
  font-size: 32px;
  width: 3.9em;
  display: inline-block;
}
#title-icon {
  display: inline-block;
  margin-top: 7px;
  margin-left: 50px;
}
#title {
  position: relative;
  left: 15px;
  top: 7px;
  font-size: 2.5rem;
  color: rgb(224, 222, 222);
}
